body {
  background-color: #8a05be;
  min-width: 290px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  margin-top: 50px;
}
h1 {
  color: white;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.473);
}
main {
  display: flex;
  justify-content: center;
}

form {
  background: white;
  padding: 1%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.295);
}
.content {
  text-align: center;
  color: rgb(15, 15, 15);
  margin: 20px;
}

label {
  font-weight: bold;
  text-align: center;
  color: rgb(15, 15, 15);
}
input[type='number'] {
  margin: 12px 5px;
  width: 50%;
  padding: 12px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
}
button {
  width: 55%;
  border-radius: 8px;
  background-color: rgb(112, 21, 85);
  color: white;
  padding: 10px;
  font-size: 1.1em;
  border: none;
}
.obs {
  font-size: 0.6em;
}
div {
  text-align: center;
}
div#res {
  margin: 5%;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  font-style: italic;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  form {
    width: 95%;
  }
  button {
    width: 70%;
  }
}

@media (max-width: 400px) {
  body {
    margin: 0;
  }

  form {
    padding: 0;
  }
}
