body {
  background-color: #8a05be;
  min-width: 290px;
}
h1 {
  color: white;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.473);
}
form {
  background: white;
  padding: 1%;
  margin: auto;
  width: 45%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.295);
}
.content {
  text-align: center;
  color: rgb(15, 15, 15);
  margin: 20px;
}

label {
  font-weight: bold;
  text-align: center;
  color: rgb(15, 15, 15);
}
input[type='number'] {
  margin: 0.5%;
  width: 50%;
  padding: 5px;
  font-size: 0.9rem;
}
button {
  width: 30%;
  border-radius: 8px;
  background-color: rgb(112, 21, 85);
  color: white;
  padding: 1%;
  font-size: 0.9em;
}
.obs {
  font-size: 0.6em;
}
div {
  text-align: center;
}
div#res {
  margin: 5%;
}

footer {
  color: white;
  text-align: center;
  margin: 4%;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.904);
}

@media (max-width: 900px) {
  form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  form {
    width: 95%;
  }
  button {
    width: 70%;
  }
}
